.main-section {
	background-size: cover;
	background-position: right;
	background-blend-mode: multiply;
	width: 100%;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-head {
	/* font-size: max(5rem , 5vw); */
  min-height: unset;
	text-align: left;
	padding-left: 2%;
	color: white;
	margin-bottom: 0;
}

.main-section-content {
  margin: 8px;
  margin-top: 0;
  display: flex;
  flex-grow: 1;
	flex-direction: column;
  justify-content: space-around;
  
	align-items: center; 
}

/* .picture-container {
	width: 30vw;
	height: 30vw;
	min-height: 250px;
	min-width: 250px;
	max-width: 300px;
	max-height: 300px;
} */

.main-section-picture {
	background-size: cover;
	background-position: center;
	margin: 2%;
	display: block;
	width: 30vw;
	height: 30vw;
	min-height: 250px;
	min-width: 250px;
	/* max-width: 300px;
	max-height: 300px; */
	border: 2px solid whitesmoke;
	border-radius: 50%;
}
.main-section-para {
	color: white;
	/* display: inline-block; */
	width: 95%;
	/* max-width: 1000px; */
	font-size: max(3rem , 3vw);
  text-align: justify;
  
}


@media (max-width: 800px) {
	.main-section-para {
		font-size: max(2.2rem , 2.2vw);
	}
}

@media (max-width: 420px) {
	.main-section-para {
		font-size: max( 2vw , 2rem);
	}
}

.main-section-highlight {
	display: inline;
	color: burlywood;
}
