* {
	font-family: "Oswald", sans-serif;
	letter-spacing: 200%;
}
h1 {
	font-family: "Anton", sans-serif;
	font-weight: lighter;
	font-size: max(5rem , 5vw);
	margin-right: 0;
}

@media(max-width:500px){
	h1{
		font-size: max(3.5rem , 3.5vw);
	}
}
#sidebar {
	height: 100vh !important;
	position: fixed;
	top: 0;
	left: 0;
}
